<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webpack Learning</title>
</head>
<body>
<h1>Webpack 5 Learning</h1>

<span class="iconfont icon-mobile"></span>
<span class="iconfont icon-Notebook"></span>
<span class="iconfont icon-rili"></span>

<div class="img1"></div>
<div class="img2"></div>
<div class="img3"></div>

<div class="demo-css">css demo</div>
<div class="demo-scss">scss demo</div>
<div class="demo-sass">sass demo</div>
<div class="demo-less">less demo</div>
<div class="demo-stylus">stylus demo</div>

<script src="../dist/js/bundle.js"></script>
</body>
</html>
